<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Monkey Business</h3>
  <h4>Type: <%=monkey.type%></h4>
  <h4>Type: <%=monkey.name%></h4>
  <h4>Type: <%=monkey.color%></h4>
  <h4>Type: <%=monkey.height%></h4>
  <h4>Type: <%=monkey.weight%></h4>
  <a href="/"><button type="button">Go Back</button></a>
</body>
</html>
